<div class="row">
	<div class="large-8 columns">
		<h1>New minimeal</h1>
	</div>
</div>		

<div class="row">
		<%= render 'form' %>
</div>

<div class="row">
	<div class="large-8 columns">	
		<%= link_to 'Back', minimeals_path %>
	</div>
</div>		
