<div class="row">
	<div class="large-8 columns">
		<h1>Editing food</h1>
	</div>
</div>

<div class="row">
	<%= render 'form' %>
</div>

<div class="row">
	<div class="large-8 columns">
		<%= link_to 'Show', @food %> |
		<%= link_to 'Back', foods_path %>
	</div>
</div>